body {
  background-color: #f2f2f2;
}

.p2 {
  margin-left: 8px;
  font-family: georgia;
  font-size: 25px;
  font-weight: bold;
  width: 100%;
}

caption {
  text-align: left;
  margin-left: 6px;
  font-family: georgia;
  font-size: 18px;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 60px;
}

th, td {
  font-weight: normal;
  padding: 5px;
  font-family: georgia;
  font-size: 15px;
  text-align: left;
  border-bottom: 1px solid #9b9b9b;
  border-collapse: collapse;
}

/*
add a class in css to hover so its solid when selected

top bar stays on screen when scrolling

css class for when its hidden and when its not hidden

second row for each row in the table, set the second one to invisible for when its not selected

background image?

+ & - buttons in a column of table to show description

merge changes

some full year modules

*/

.selected{
  background-color: #CDD7DC;
}

.hidden {
  display: none;
}




.top-bar {
  background-color: #ee2d25;
  height: 80px;
}

.selected-bar {
  height: 100%;
  width: 28%;
  position:absolute;
}

.selected-table {
  background-color: #ee2d25;
  color: white;
  position: fixed;
  width: 28%;
  height: 88%;
}

.selected-table th {
  border-bottom: 1px solid white;
}

.p1{
  display: inline-block;
  float: left;
  vertical-align: middle;
  height: 100%;
  width: 15%;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  font-family: georgia;
  font-size: 22px;
  color: white;
}

.form1{
  display: block;
  width: 70%;
  padding-top: 32px;
}


.semester-one{
  padding-top: 10px;
  background-color: #f2f2f2;
  height: 80px;
  width: 70%;
  float: right;
}

/* hover styling */
.core-modules-table1 tr:not(:nth-child(1)):hover {
  background-color: #CDD7DC;
}
.compulsory-modules-table1 tr:not(:nth-child(1)):hover {
  background-color: #CDD7DC;
}
.optional-modules-table1 tr:not(:nth-child(1)):hover {
  background-color: #CDD7DC;
}
